<h1>Contacts:</h1>
<p>Email: <%= tag :a, 'gregoryawesoman@icloud.com', href: 'mailto::gregoryawesoman@icloud.com'%></p>
<p>Telegram: <%= tag :a, '@gregoryawesoman', 'https://tele.click/gregoryawesoman', target: '_blank' %></p>
<small>You can also find me in socials:</small>
<p><%= tag :a, ('facebook.png'), "https://www.facebook.com/gregoryawesoman", target: '_blank' %>
   <%= tag :a, ('instagram.png'), "https://www.instagram.com/gregoryawesoman/", target: '_blank'%></p>
