<div class="center jumbotron">
    <h1>Welcome!</h1>
    <br>
    <p class="top-mrg">Hello! This is my official page.</p>
    <p>You can get some information about me and my works here.</p>
    <p>If you interested in or have any questions, you can <%=tag :a , 'ask me', :href => '/contacts'%>.</p>
</div>

